body {
  background-color: white;
}
/*Website name*/
h1 {
  text-decoration: none;
  color: black;
  font-family: Georgia;
  font-size: 6vw;
  text-align: center;
  width: 60%
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}
.logo {
  text-align: center;
  width: 50%;
  padding: 0;
  margin-bottom: 0;
}
.coverimg {
  text-align: center;
  width: 70vw;
  margin: 0;
  padding: 0;
}

/*Top menu*/
ul.menu {
  background-color: black;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
}
li.menuli a {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  font-family: Georgia;
  font-size: 1.8vw;
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
}
li.menuli a.active {
  background-color: #FF6C87;
}
li.menuli a:hover {
  background-color: pink;
  color: #FF6C87;
}

/*Bottom menu*/
ul.bottom {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;
}
li.bottomli a {
  float: left;
  display: block;
  text-decoration: none;
  font-family: Georgia;
  font-size: 1.3vw;
  width: 13%;
  padding: 5px 0 5px 0;
}
li.bottomdot {
  float: left;
  display: block;
  font-family: Georgia;
  font-size: 1.3vw;
  width: 1.5%;
  padding: 5px 0 5px 0;
}
li.bottomli a:hover {
  color: lightpink;
}
li.bottomli a.active {
  color: #FF6C87;
}

/*Social media menu*/
ul.social {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
li.socialli a {
  float: left;
  display: block;
  width: 50%;
  padding: 0;
}
li.socialli a img {
  width: 3vw;
}

/*Extra notes on recipe page*/
h2 {
  font-family: "Times New Roman";
  font-size: 125%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/*Recipe name*/
h3 {
  color: #FF6C87;
  font-family: Georgia;
  font-size: 400%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/*Ingredient and Nutrition pages header*/
h3.ingrednutrit {
  color: #FF6C87;
  font-family: Georgia;
  font-size: 6vw;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
  

/*Section headers for ingredients and nutrition pages*/
h3.alphabet {
  color: #FF6C87;
  font-family: Georgia;
  font-size: 200%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/*Recipe Details-left*/
h4 {
  font-family: "Times New Roman";
  font-size: 150%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/*Recipe Details-center*/
h5 {
  font-family: "Times New Roman";
  font-size: 150%;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

/*Recipe page section names*/
h6 {
  text-decoration: underline;
  font-size: 200%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/*Ingredient list*/
li.ing {
  font-family: "Times New Roman";
  font-size: 125%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

li.ing a:hover {
  color: #FF6C87;
}

/*Step list*/
li.step {
  font-family: "Times New Roman";
  font-size: 125%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/*Recipe page picture and caption*/
p {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 1.5vw;
  font-weight: 100;
  margin: 0 0 20px 0;
  padding: 0;
}

/*Recipe page pictures*/
.pic {
  width: 35vw;
  margin: 0;
  padding: 0;
}

/*Catalog page*/
ul.sub {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 0px;
  padding: 0;
}
li.subli a {
  float: left;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Georgia;
  font-size: 2.5vw;
  font-weight: 100;
  height: 29vw;
  width: 25%;
  margin: 0 0 50px 0;
}
li.subli a img {
  width: 20vw;
}
li.subli a:hover {
  color: #FF6C87;
}

/*Ingredients page alphabetic menu*/
ul.alphamenu {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
}
li.alphamenuli {
  float: left;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Georgia;
  font-size: 1.8vw;
  width: 1.96%;
  padding-top: 5px;
  padding-bottom: 5px;
}
li.alphamenuli a:hover {
  color: #FF6C87;
}
